version: '3.6'
services:
  mongo:
    hostname: mongo
    image: mongo:4.0.10
    ports:
      - "27017:27017"
    networks:
      - erxes-net
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - ./data/db:/data/db

  redis:
    image: 'redis'
    ports:
      - "6379:6379"
    networks:
      - erxes-net

networks:
  erxes-net:
    driver: bridge